<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- TestMapper接口的SQL -->

<!-- namespace:需要映射的接口名 -->
<mapper namespace="com.xupt.dao.TestDao">
	<select id="selectAll" resultType="com.xupt.model.Test">
		SELECT * FROM test
	</select>
</mapper>